@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    background-image: url('../../images/RW-en-20230703-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;

}